<p-table [value]="connector.documents??[]">
  <ng-template pTemplate="caption">
    <h5>Documents</h5>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Filename</th>
      <th style="width: 4rem;">
        <button pButton pRipple icon="pi pi-plus" class="p-button-success"
          (click)="file.onBasicUploaderClick()"></button>
        <p-fileUpload chooseLabel="Browse" mode="basic" accept="image/*" name="myfile[]" [customUpload]="true"
          [auto]="true" (uploadHandler)="addDocuments($event)" #file hidden></p-fileUpload>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-index="rowIndex">
    <tr>
      <td>{{item.filePath}}</td>
      <td>
        <button pButton pRipple icon="pi pi-trash" class="p-button-danger" (click)="deleteDocument(index)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
