<p-dialog [(visible)]="visibility" [style]="{width: '60%'}" header="Connector Details" [modal]="true"
  styleClass="p-fluid" (onHide)="this.onCloseEvent.emit();">
  <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="true"></p-steps>

  <ng-template pTemplate="content">
    <div [ngSwitch]="activeIndex">
      <span *ngSwitchCase="0">
        <div class="p-field">
          <label for="name">Part Number</label>
          <input type="text" pInputText id="partNumber" [(ngModel)]="currentConnector.partNumber" required autofocus />
          <small class="p-invalid" *ngIf="submitted && !currentConnector.partNumber">Part Number is required.</small>
        </div>
        <div class="p-field">
          <label for="supplier">Supplier</label>
          <input type="text" pInputText id="supplier" [(ngModel)]="currentConnector.supplier" />
        </div>
        <div class="p-field">
          <label for="coordinates">Coordinates</label>
          <input type="text" pInputText id="coordinates" [(ngModel)]="currentConnector.coordinates" />
        </div>
        <div class="p-field">
          <label for="color">Color</label>
          <p-dropdown id="color" [options]="getConnectorColors()" optionLabel="value" optionValue="value" [(ngModel)]="currentConnector.color"></p-dropdown>
        </div>
        <div class="p-field">
          <label for="type">Type</label>
          <p-dropdown id="color" [options]="getConnectorTypes()" optionLabel="value" optionValue="value" [(ngModel)]="currentConnector.type"></p-dropdown>
        </div>
        <div class="p-field">
          <label for="cavitiesNumber">Cavity Number</label>
          <input type="number" pInputText id="cavitiesNumber" [(ngModel)]="currentConnector.cavitiesNumber" />
        </div>
        <div class="p-field">
          <label for="cavitiesNumber">Leak</label>
          <div class="p-2">
            <p-checkbox [(ngModel)]="currentConnector.leak" [binary]="true"></p-checkbox>
          </div>
        </div>
        <div class="p-field">
          <label for="cavitiesNumber">Gender</label>
          <div class="p-2">
            <p-radioButton name="gender" value="male" label="Male" [(ngModel)]="currentConnector.gender"></p-radioButton>
            <p-radioButton name="gender" value="female" label="Female" [(ngModel)]="currentConnector.gender"></p-radioButton>
          </div>
        </div>
          <div class="p-field">
          <label for="image">Image</label>
          <p-fileUpload chooseLabel="Browse" mode="basic" accept="image/*" name="myfile[]" [customUpload]="true"
            [auto]="true" (uploadHandler)="myUploader($event)"></p-fileUpload>
        </div>

        <div class="p-field">
          <label for="description">Description</label>
          <textarea id="description" pInputTextarea [(ngModel)]="currentConnector.description" required rows="3"
            cols="20"></textarea>
        </div>
      </span>
      <span *ngSwitchCase="1">
        <app-detections-table [connector]="currentConnector"></app-detections-table>
      </span>
      <span *ngSwitchCase="2">
        <app-mnumber-table [connector]="currentConnector"></app-mnumber-table>
      </span>
      <span *ngSwitchCase="3">
        <app-part-number-table [connector]="currentConnector"></app-part-number-table>
      </span>
      <span *ngSwitchCase="4">
        <app-document-table [connector]="currentConnector"></app-document-table>
      </span>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="{{activeIndex == 0 ? 'Cancel' : 'Previous'}}" class="p-button-primary"
      (click)="previousStep()"></button>

    <button pButton pRipple label="{{activeIndex == 5 ? 'Save' : 'Next'}}" class="p-button-primary" (click)="nextStep()"></button>
    <button pButton pRipple label="Skip & Save" class="p-button-outlined" (click)="saveConnector()"></button>
  </ng-template>
</p-dialog>
