<p-table [value]="connector.detections??[]">
  <ng-template pTemplate="caption">
    <h5>Detections</h5>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th>Description</th>
      <th style="width: 4rem;">
        <button *ngIf="!newDetection" pButton pRipple icon="pi pi-plus" class="p-button-success"
          (click)="addDetection()"></button>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-index="rowIndex">
    <tr>
      <td [pEditableColumn]="item.name" pEditableColumnField="code">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="item.name" (focusout)="changeDetection()" placeholder="Name">
          </ng-template>
          <ng-template pTemplate="output">
            {{item.name}}
          </ng-template>
        </p-cellEditor>
      </td>

      <td [pEditableColumn]="item.color" pEditableColumnField="code">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-dropdown id="color" [options]="pdpValues" [(ngModel)]="item.color" (onChange)="changeDetection()" appendTo="body"></p-dropdown>
          </ng-template>
          <ng-template pTemplate="output">
            <app-color-tag [color]="item.color"></app-color-tag>
          </ng-template>
        </p-cellEditor>
      </td>

      <td [pEditableColumn]="item.description" pEditableColumnField="code">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="item.description" (focusout)="changeDetection()" placeholder="Description">
          </ng-template>
          <ng-template pTemplate="output">
            {{item.description}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <button *ngIf="!newDetection" pButton pRipple icon="pi pi-trash" class="p-button-danger"
          (click)="deleteDetection(index)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
