<p-table [value]="connector.customerPartNumbers??[]">
  <ng-template pTemplate="caption">
    <h5>Customers</h5>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Part Number</th>
      <th>Description</th>
      <th style="width: 4rem;">
        <button *ngIf="!newCustomerPartNumber" pButton pRipple icon="pi pi-plus" class="p-button-success"
          (click)="addCustomerPartNumber()"></button>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-index="rowIndex">
    <tr>
      <td [pEditableColumn]="item.customerName" pEditableColumnField="code">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="item.customerName" (focusout)="changeCustomerPartNumber()" placeholder="Name">
          </ng-template>
          <ng-template pTemplate="output">
            {{item.customerName}}
          </ng-template>
        </p-cellEditor>
      </td>

      <td [pEditableColumn]="item.customerPartNumber" pEditableColumnField="code">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="item.customerPartNumber" (focusout)="changeCustomerPartNumber()" placeholder="Part Number">
          </ng-template>
          <ng-template pTemplate="output">
            {{item.customerPartNumber}}
          </ng-template>
        </p-cellEditor>
      </td>

      <td [pEditableColumn]="item.description" pEditableColumnField="code">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="item.description" (focusout)="changeCustomerPartNumber()" placeholder="Description">
          </ng-template>
          <ng-template pTemplate="output">
            {{item.description}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <button *ngIf="!newCustomerPartNumber" pButton pRipple icon="pi pi-trash" class="p-button-danger"
          (click)="deleteCustomerPartNumber(index)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
