<p-table [value]="[]">
  <ng-template pTemplate="caption">
    <h5>Costumer PartNumber List</h5>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>PartNumber</th>
      <th>Customer</th>
      <th style="width: 4rem;">
        <button pButton pRipple icon="pi pi-plus" class="p-button-success"
          (click)="null"></button>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-index="rowIndex">
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </ng-template>
</p-table>
